{
  "extends": ["airbnb-base"],
  "rules": {
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "no-multi-spaces": ["error", { "ignoreEOLComments": true, "exceptions": { "VariableDeclarator": true } }],
    "no-underscore-dangle": ["error", { "allow": ["_router"] }]
  },
  "env": {
    "node": true
  }
}
